/* For App.js -- Creating sidebar for rooms and a little styling */
.sidebar {
  background-color: rgba(220, 220, 220, 0.884);
  width: 20%;
  height: 100%;
  position: fixed;
  text-align: center;
}

.appMessage {
  width: 75%;
  margin-inline-start: auto;
  text-align: left;
}

.appTitle {
  background-color: rgba(220, 220, 220, 0.884);
}

/* For User.js - a little styling for separation */
.userLogin {
  margin: 0;
  padding: 0;
  text-align: center;
  border: solid 3px black;
}
